.endpage
    position: absolute
    display: flexbox
    width: 100%
    height: 20px
    bottom: 0
    overflow: hidden
    transform: translateY(100%)
    padding-top: 400px
    background-color: #736F6F