@import "https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"
    
$primary-color: #F3ADAD
$button-color: white
.topContainer
    height: 400px
.topNav
    display: block
    width: 1500px
    scale: 2
    background: $primary-color
    height: 200px
    transform: rotate(-5deg)
    z-index: 0
.leftBrick
    display: block
    width: 50%
    height: 300px
    background: #511A1A
.fingerprint
    position: absolute
    left: 10%
    scale: 0.10
    transform: translate(-575%, -590%)
.topBarButton
    position: absolute
    top: 2.5%
    right: 2.5%
    z-index: 1000
    text: red
    .resumeOptions
        position: absolute
    
.makeYourMark
    position: absolute
    size: 100px
    left: 10%
    top: 10px
    font-family: 'Nunito', sans-serif