@import "https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"
    
$topBarColor: #010714
$leftBrickColor: #260101
$rightBrickColor: #ECD5D5
$button-color: white
.topContainer
    height: 400px
.topNav
    position: relative
    display: block
    width: 1500px
    scale: 2
    background: $topBarColor
    height: 200px
    transform: rotate(-5deg)
    z-index: 1
.leftBrick
    position: relative
    display: block
    width: 50%
    height: 300px
    background: $leftBrickColor
    transform: translate(-38%, 0%)
    height: 650px
    z-index: 0
.rightBrick
    position: relative
    z-index: -1
    background: $rightBrickColor
    width: 1500px
    height: 600px
    transform: translate(0%, -100%)
.circle
    position: relative
    z-index: 0
    width: 300px
    height: 300px
    border-radius: 50%
    background: #FFF
    transform: translate(145%, -200%)
    scale: 1.73
.fingerprint
    position: relative
    left: 10%
    scale: 0.10
    transform: translate(-550%, -720%)
    z-index: 2
.backgroundFingerprint
    position: relative
    opacity: 15%
    scale: 0.10
    z-index: 10
.a
    transform: translate(0%, -1700%)
.b
    transform: translate(200%, -2650%)
.c
    transform: translate(400%, -3750%)
.position
    top: 0
.topBarButton
    position: absolute
    top: 2.5%
    right: 2.5%
    z-index: 1000
    text: red
    .resumeOptions
        position: absolute
    
.makeYourMark
    position: absolute
    color: #FFF
    size: 100px
    left: 10%
    top: 20px
    font-family: 'Nunito', sans-serif
    z-index: 2
.intro 
    position: absolute
    color: #FFF
    z-index: 5
    top:57%
    left: 5%
    font-family: 'Nunito', sans-serif
    width: 900px
    font-size: 100px
    