$primary-color: #F3ADAD
$button-color: white
.topContainer
    height: 400px
.topNav
    display: block
    width: 1500px
    scale: 2
    background: $primary-color
    height: 200px
    transform: rotate(-5deg)
    z-index: 0
    border-style: dotted
.fingerprint
    position: absolute
    scale: 0.10
    transform: translate(-575%, -590%)
.topBarButton
    position: absolute
    top: 2.5%
    right: 2.5%
    z-index: 1000
    color: #FFF
    
.makeYourMark
    position: absolute
    size: 100px
    z-index: 1000
    top: 50px